{% extends 'common/base.html' %} {% block content %} {% for message in messages
%}
<div class="alert alert-primary" role="alert">{{message}}</div>
{% endfor %}
<div class="card text-center">
  <div class="card-body">
    <form method="post" id="sign_form">
      {% csrf_token %}
      <div class="row text-center" style="margin-top: 10px">
        <div class="col">
          <label class="form-label">아이디</label>
          <input
            class="form-control"
            name="username"
            id="username"
            type="text"
          />
        </div>
      </div>
      <div class="row text-center" style="margin-top: 10px">
        <div class="col">
          <label class="form-label">비밀번호</label>
          <input
            class="form-control"
            name="password"
            id="password"
            type="password"
          />
        </div>
      </div>
    </form>

    <div class="row text-end" style="margin-top: 10px">
      <div class="col">
        <a class="fs-5 text-decoration-none m-3" href="{% url 'signup' %}"
          >회원가입</a
        >
        <a class="fs-5 text-decoration-none" id="sign_btn">로그인</a>
      </div>
    </div>
  </div>
</div>

<script>
  let sign_btn = document.getElementById("sign_btn");
  let password = document.getElementById("password");
  let username = document.getElementById("username");
  let signin_form = document.getElementById("sign_form");

  sign_btn.addEventListener("click", () => {
    if (!username.value) {
      alert("아이디를 입력해주세요.");
      return false;
    }
    if (!password.value) {
      alert("비밀번호를 입력해주세요.");
      return false;
    }
    signin_form.submit();
  });
</script>

{% endblock %}
